<div class="main">
<h1>Hello World.</h2>
<p style="color:green">This is some random text</p>
</div>
<style>
.main{
    line-height:10px;
    text-align:center; 
    margin:auto; 
    margin-top:20%
}
</style>


